#loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loadingUl {
  width: 108px;
  height: 108px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
#loadingUl li {
  width: 30px;
  height: 30px;
  margin: 2px;
  background-color: transparent;
  animation: loading 0.8s infinite;
}

#loadingUl li:nth-child(5) {
  opacity: 0;
}
#loadingUl li:nth-child(1) {
  animation-delay: 0.1s;
}
#loadingUl li:nth-child(2) {
  animation-delay: 0.2s;
}
#loadingUl li:nth-child(3) {
  animation-delay: 0.3s;
}
#loadingUl li:nth-child(6) {
  animation-delay: 0.4s;
}
#loadingUl li:nth-child(9) {
  animation-delay: 0.5s;
}
#loadingUl li:nth-child(8) {
  animation-delay: 0.6s;
}
#loadingUl li:nth-child(7) {
  animation-delay: 0.7s;
}
#loadingUl li:nth-child(4) {
  animation-delay: 0.8s;
}
@keyframes loading {
  1% {
    background-color: #0086b3;
  }
}
